
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}


:root {
    --pcolor1:#22BBEA;
    --pcolor2:#FF9933;

    --scolor1: #009DE1;
    --scolor2: #CC6600;
    --scolor3: #404040;

    --bgColorSection:#e8e8e8;

    --bgColorfooter1:rgb(50, 49, 49);
    --bgColorfooter2:rgb(62, 62, 62);

}


.animation { 
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-out;
    transition-delay: 0.3s;
}

.scroll-animation {
    opacity: 1; 
    transform: scale(1);
}

.changed2 {
    background-color: var(--pcolor1);
    animation-name: toBotton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    color: black;
}

@keyframes toBotton {
    from {top:0;
        background-color: var(--scolor1);
        width: 100%;
        left: 0;
        border-radius: 0;
        color: black;


        }
    to {top: 3vh;
        background-color: var(--pcolor1);;
        width: 95%;
        left: 2.5vw;  
        border-radius: 1rem;}
}

.changed {
    animation-name: toTop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes toTop {
    from {top:3vh;
        background-color: var(--pcolor1);
        width: 95%;
        left: 2.5vw;
        border-radius: 0.5rem;}
    to {top: 0;
        background-color: var(--scolor1);
        width: 100%;
        left: 0;
        border-radius: 0;
        color: black;
    }
}


header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    background-color: transparent;

    nav{
        position: fixed;
        top: 1.5rem;
        left: 2.5vw;
        background-color: var(--pcolor1);
        width: 95vw;
        
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.398);
        border-radius: 0.5rem;
        z-index: 10;

        .logo {
            font-size: 1.3rem;
        }
        div {
            /* margin: 0.rem 0rem; */
            margin-left: 1rem;
            img {
                border-radius: 4px;
            }
        }

        .menu-bar {
            border: none;
            background-color: transparent;
            width: max-content;
            height: max-content;
            margin-right: 1rem;
            display: none;
        }

        .nousRejoindre {
            background-color: var(--pcolor2);
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            a:focus,
            a:hover {
                /* font-weight: bolder; */
                color: white;
            }
        }
        .nousRejoindre:hover {
            transform: scale(1.05);
        }

        ul {
            display: flex;
            /* float: right; */
            height: max-content;
            width: max-content;
            align-items: center;
            /* background-color: #40404036; */

            li {
                list-style: none;
                margin: 1rem 1vw;

                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bolder;
                    font-size: 0.9rem;
                    padding-bottom: 0.5rem;
                }

                a:hover,
                a:focus {
                    color: var(--pcolor2);
                }

            }



            .close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: white;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                display: none;

            }
        }
    }

    .container-title {
        padding-left: 7rem;
        padding-top: 9rem;
        padding-bottom: 3rem;
        width: 40%;
        height: 100%;

        .title-button {
            border-left: 4px solid #000;
            margin-top: 1rem;
            padding-left: 1rem;
            
            p {
                font-size: 1.2rem;
                padding-bottom: 1rem;
            }
    
            button {
                padding: 0.9rem 1.8rem;
                font-size: 1rem;
                background-color: var(--pcolor1);
                border: none;
                border-radius: 2rem;
            }
        }
        h1 {
            font-size: 3rem;
            
            strong {
                color: var(--pcolor1);
            }
        }


    }

    .container-images {
        padding-block: 7rem;

        width: 50%;
        /* background-color: var(--pcolor1); */
        background-image: url(assets/img/headerBackgroud.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        .style-bg {
            position: absolute;
            top: 0;
            right: 7rem;
            width: 40%;
            height: 50%;
            background-color: var(--pcolor1);

            z-index: -1;
            border-radius: 0 0 6rem 6rem;
        }

        .img {
            /* background-color: #CC6600; */
            width: 40vw;
            height: 25vw;
            border-radius: 0;
            background-size: contain;
            /* background-size: contain; */
            background-position: center;
            display: flex;
            justify-content: center;
        }


    }

    .bg-header {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: end;
        z-index: -1;
        background-color: #56ccff2c;
        border-radius: 0 0 0 60%;

        img {
            height: 100%;
            /* transform: translateX(-0%); */
        }
    }

    .call-to-action {
        position: absolute;
        bottom: -20%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            position: relative;
            font-size: 1.5rem;
            padding: 1rem 3rem;
            margin: 3rem 2rem 0 2rem;
            background-color: #fff;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.308);
            border: none;
            border-radius: 0.4rem;
        }

        .button::after {
            content: "";
            position: absolute;
            border-radius: 0.4rem;
            z-index: -1;
            top: 0.6rem;
            left: 0.5rem;
            width: 100%;
            height: 100%;
            background-color: #4d4d4d31;

        }
    }
}

.img img {
    /* width: 100%; */
    height: 100%;
    /* animation-name: uptodown; */
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}
@keyframes uptodown {
    from {transform: translateY(0);}
    to {transform: translateY(-2vh);}
}



@media screen and (width<800px) {

    .hide {
        display: block;
        animation-name: hideNav;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes hideNav {
        from {transform: translateX(0vw);}
        to {transform: translateX(-120vw);}
    }

    .show {
        display: block;
        animation-name: showNav;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }

    @keyframes showNav {
        from {transform: translateX(-120vw);}
        to {transform: translateX(0);}
    }


    .changed {
        animation-name: none;
        background-color: var(--scolor1);

    }
    .changed2 {
        background-color: var(--scolor1);
        animation-name: none;
    }

    header {
        flex-direction: column-reverse;
        /* position: relative; */
        nav{
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 0;
            padding: 1rem;

            .menu-bar {
                display: block;
            }
    
            .container-button {
                display: none;
                margin: 0;
                padding: 0;
                .logo {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                }
            }
            ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 50vw;
                height: 100vh;
                background-color: var(--scolor1);
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding-top: 7vh;
                padding-left: 10vw;
                display: none;

                li {
                    margin-bottom: 2rem;
                }
    
    
                .close {
                    display: flex;                    
                }
            }

            .button-connect {
                display: none;
            }

        }
    
        .container-title {
            padding-left: 1rem;
            padding-top: 2rem;
            padding-bottom: 1rem;
            width: 90%;
            height: 100%;
    
            h1 {
                font-size: 3rem;
            }
    
        }
    
        .container-images {
            padding-bottom: 4rem;
            width: 100%;
    
            .img {
                width: 80vw;
                height: 70vw;
            }
        }
    }
}



#colaborate {
    height: max-content;
    /* background-color: #009DE1 ; */
    display: flex;
    justify-content: space-between;
    padding-inline: 7rem;
    padding-top: 2rem;

    flex-direction: row;
    .container-left {
        width: 50%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        
        .container-images {
            width: 40vw;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .grid-container {
                width: 30vw;
                height: 30vw;
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 10px;
                padding: 10px;
                
                .item {
                    position: relative;
                    background-color: white;
                    text-align: center;
                    padding: 20px 0;
                    font-size: 30px;
                    border-radius: 0.7rem;
                    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.497);
                    background-size: cover;
                    background-position: center;
                }
                
                .item1 {
                    grid-area: 2 / 2 / 4 / 4;
                }
        
                .item2,
                .item4,
                .item7,
                .item10,
                .item13 {
                    position: relative;
                    background-color: transparent;
                    box-shadow: none;
                }
    
                .item1 {
                    background-image: url(assets/img/partenaires/partenaire1.png);
                    transform: translateX(10%);
                }
                .item3 {
                    /* width: 75%;
                    height: 30%; */
                    border-radius: 0.5rem;
                    background-image: url(assets/img/partenaires/partenaire2.png);
                    transform: translateX(100%) translateY(20%);

                }
                .item5 {
                    width: 100%;
                    height: 30%;
                    border-radius: 0.5rem;
                    background-image: url(assets/img/partenaires/partenaire3.png);
                    transform: translateY(100%) translateX(50%);
                }
                .item6 {
                    position: relative;
                    width: 130%;
                    height: 20%;
                    border-radius: 0.5rem;
                    background-image: url(assets/img/partenaires/partenaire4.png);
                    transform: translateX(-30%) translateY(-30%);
                }
                .item11 {
                    width: 100%;
                    height: 20%;
                    border-radius: 0.5rem;
                    background-image: url(assets/img/partenaires/partenaire5.png);
                    transform: translateX(40%) translateY(40%);
                }
                .item8 {
                    width: 100%;
                    height: 34%;
                    background-image: url(assets/img/partenaires/partenaire6.png);
                    transform: translateX(10%) translateY(70%);
                }
                .item9 {
                    width: 100%;
                    height: 40%;
                    border-radius: 0.5rem;
                    background-image: url(assets/img/partenaires/partenaire7.png);
                    transform: translateY(10%) translateX(60%);

                }
                .item12 {
                    width: 100%;
                    height: 15%;
                    border-radius: 0.5rem;
                    background-image: url(assets/img/partenaires/partenaire8.png);
                    transform: translateY(-70%) translateX(55%);

                }

                .item2::after {
                    content: "";
                    position: absolute;
                    z-index: -11;
                    bottom: -190%;
                    right: -85%;
                    width: 100%;
                    height: 110%;
                    background-image: url(/assets/img/Dots.png);
                    /* transform: translateY(90%) translateX(10%); */
                    /* background-color: #000; */

                }
            } 
    
        }
    }

    .container-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 2rem;
        /* margin-left: 2rem; */
        h4, p {
            width: 70%;
        }
        h2 {
            width: 70%;
            font-size: 3rem;
            margin-block: 1rem;
        }
        p {
            margin-bottom: 1rem;
        }
        h4 {
            margin-block: 1rem;
        }

    }
}


#working {
    /* height: 100vh; */
    background-image: url(/assets/img/working_bg.png);
    background-size: cover;
    background-position: center;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 7rem;
    .title {
        width: 40%;
        text-align: center;
        h1 {
            padding-block: 3rem 1rem;
            font-size: 2rem;
        }

        p {
            padding-block: 1rem 3rem;
        }
    }
    .container {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-direction: row;
        position: relative;  
        align-items: first baseline;  

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-block: 1rem;
            width: 25%;

            .circle {
                background-color: #FF9933;
                border-radius: 50%;
                padding: 1rem 1.6rem;
                z-index: 2;
        
            }

            h4{
                padding-block: 2rem;
                font-size: 1.2rem;
            }
            ul {
                list-style: none;
                li {
                    text-align: left;
                    padding-bottom: 2rem;
                }
            }
        }

    }
    .container::after {
        content: "";
        position: absolute;
        width: 70%;
        top: 3rem;
        z-index: 1;
        border-top: 3px dashed rgba(0, 0, 0, 0.699);
        /* border-style: dashed; */
    }

}


#fonctionnality {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline:9rem ;
    padding-bottom: 2%;
    padding-top: 10rem;
    .container-title {
        padding-left: 5rem;
        width: 35%;
        padding-bottom: 2rem;
        h1, h4, p, p {
            width: 100%;
        }

        h1 {
            padding-block: 0rem 1rem;
            font-size: 2rem;
        }
        h4 {
            padding-block: 2rem 1rem;
        }
        p {
            /* padding-block: 0 2rem; */
        }
    }

    .container-images {
        width: 60%;
        position: relative;
        .image1 {
            position: absolute;
            right: 20%;
            top: 10%;
            border-radius: 0.5rem;
            width: 40%;
            height: 80%;
            background-image: url(/assets/img/entreprise.jpg);
            background-size: cover;
            background-position: center;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.404);

        }
        .image2 {
            position: absolute;
            right: 42%;
            bottom: 25%;
            border-radius: 0.5rem;
            width: 30%;
            height: 30%;
            background-image: url(/assets/img/association.jpeg);
            background-size: cover;
            background-position: center;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.404);

        }
        .image3 {
            position: absolute;
            top: 25%;
            left: 18%;
            border-radius: 0.5rem;
            width: 30%;
            height: 12%;
            background-image: url(/assets/img/benevole.jpeg);
            background-size: cover;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.404);
        }
        .image4 {
            position: absolute;
            z-index: -11;
            bottom: 17%;
            left: 22%;
            /* border-radius: 0.5rem; */
            /* width: 30%; */
            height: 15%;
            /* background-color: #ffffff; */
            /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.404); */
        }
        .image5 {
            position: absolute;
            z-index: -11;
            top: 4%;
            right: 14%;
            border-radius: 0.5rem;
            width: 30%;
            height: 40%;
            background-color: #9e9e9e2c;
            /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.404); */
        }
    }
}


#solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 7rem;
    padding-bottom: 2rem;
    
    .title {
        font-size: 1.5rem;
        width: 40%;
        padding-block: 4rem;
        text-align: center;
    }
    .container-items {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 3rem;

        .item {
            display: inherit;
            justify-content: center;
            width: 25vw;
            padding: 0.4rem;
            border-radius: 0.4rem;
            /* border: 1px solid black; */
            border: 2px solid rgba(0, 153, 255, 0.103);
            text-align: center;

            .item-title {
                padding-left: 0.8rem;
                i {
                    color: #009DE1;
                }
                h3 {
                    padding-bottom: 1rem;
                }
                p {
                    font-size: 2rem;
                    font-weight: bolder;
                }
            }
        }
    }


}



#testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    position: relative;
    
    .container {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        width: 84%;
        overflow: hidden;
        height: 100%;
        border: 1px solid black;
    }
    
    #box {
        width: 360px;
        height: 360px;
        background-color: #3498db;
        border-radius: 10px;
        transition: all 0.5s ease;
        margin: 0 32px;
    }

    #box1 {
        width: 270px;
        height: 270px;
        background-color: #3498db;
        border-radius: 30px;
        transition: all 0.5s ease;
        margin: 0 32px;
        /* transform: translateX(50px); */
    }

    #box2 {
        width: 270px;
        height: 270px;
        background-color: #3498db;
        border-radius: 30px;
        transition: all 0.5s ease;
        margin: 0 32px;
        /* transform: translateX(50px); */
    }
    
    #left {
        position: absolute;
        left: 0;
        z-index: 1;
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        background-color: #2c3e50;
        color: #fff;
        cursor: pointer;
    }

    #right {
        position: absolute;
        right: 0;
        z-index: 1;
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        background-color: #2c3e50;
        color: #fff;
        cursor: pointer;
    }
    
    #left:focus, #right:focus {
        outline: none;
    }
}


#testimonial1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    /* justify-content: center; */

    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .items {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 50%;

            h1 {
                font-size: 2rem;
                margin: 1rem;
            }

            button {
                height: max-content;
                font-size: 3rem;
                background-color: transparent;
                border: none;
            }
        }

        .dots {
            display: flex;
            justify-content: center;
            align-items: center;

            .dot {
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background-color: #000;
                margin: 0.8rem;
            }
        }
    }

    .container {
        width: 80%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-block: 2rem;

        .box {
            padding: 1rem;
            width: 20vw;
            background-color: #009de159;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .image {
                width: 5rem;
                height: 5rem;
                border:  1px solid black;
                border-radius: 50%;
            }

            h4 {
                font-size: 1.3rem;
            }

            span {
                font-size: 2rem;
                padding: 0;
                color: var(--pcolor2);
            }

            p {
                font-size: 1rem;
            }

        }


    }
}


footer {
    display: flex;
    flex-direction: column;

    .logo-PN {
        height: max-content ;
        background-color: var(--bgColorfooter1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 10vw;

        .container-title {
            display: flex;
            align-items: center;

            .logo {
                height: 4rem;
                width: 4rem ;
                border-radius: 4px;
                background-image: url(assets/img/);
                background-color: #009adbbd;
                background-size: cover;
                background-position: center;
                margin-right: 1rem;
            }

            .title {
                padding: 1rem;
                border: 1px solid white;
                color: white;
                text-align: center;
            }
        }

        .container-icon {
            color: white;
            display: flex;
            height: max-content;
        
            .icon {
                height: max-content;
                background-color: rgb(70, 68, 67);
                padding: 0.6rem;
                border-radius: 50%;
                margin-inline: 0.5rem;
                box-shadow: 1px 1px 3px black;
            }
            .icon1 {
                padding: 0.6rem 0.9rem;
            }
            .icon2 {
                padding: 0.6rem 0.7rem;
            }
            .icon3 {
                padding: 0.6rem 0.7rem;
            }
            .icon4 {
                padding: 0.6rem 0.7rem;
            }
        }
    }

    .info-PN {
        height: max-content;
        background-color: var(--bgColorfooter2);
        color: white;
        display: flex;
        justify-content: space-between;
        padding:1rem 10vw ;

        .about-text {
            width: 40vw;
            
            p{
                margin-top: 1rem;
                font-size: 0.8rem;
            }
        }

        .contact-container {
            width: 30vw;
            .contact {
                padding: 0.6rem;
            }
        }
    }

    .createdBy {
        background-color: var(--bgColorfooter1);
        text-align: center;
        color: aliceblue;
        font-size: 0.7rem;
        padding: 4px;
    }
}

@media screen and (width<667px)  {
    footer {
        width: 100vw;
    
        .logo-PN {
            width: 100%;
            height: max-content ;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0vw;
    
            .container-title {
                flex-direction: column;
                .logo {
                    width: 30vw;
                    height: 30vw;
                }
                .title {
                    margin-block: 1rem;
                    padding: 0.7rem;
                    font-size: 1rem;
                }
            }
        }
    
        .info-PN {
            flex-direction: column;
            align-items: center;
            padding:1rem 0;

            .about-text {
                width: 96vw;
                text-align: center;
            }
    
            .contact-container {
                padding-top: 2rem;
                width: 100vw;
                text-align: center;
                font-size: 1rem;

                .contact {
                    padding: 1rem 0;
                }
            }
        }    
    }
}